body {
    font-family: 'Roboto', sans-serif;
    padding: 40px;
    background-image: url('hola.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fefefe;
}

h1, h2 {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

form div {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: 700;
    color: #fefefe;
    text-shadow: 1px 1px 3px #7b7a7a;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 2px solid #ced4da;
    border-radius: 8px;
    background-color: #fff;
    color: #575757;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 12px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.9); 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(221, 2, 255);
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #000000;
    color: #fff;
    font-weight: 700;
    background-image: url('programacion-de-videojuegos.jpg'); 
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 3px #000;
}

td {
    background-color: rgba(255, 255, 255, 0.8); 
}

tr:nth-child(even) td {
    background-color: rgba(1, 128, 255, 0.8); 
}

.error {
    color: #dc3545;
    margin-top: 15px;
    font-weight: 700;
    text-shadow: 1px 1px 3px #000000;
}
